@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

.cards{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     text-align: center;
     padding-top: 40px;
     padding-bottom: 40px;
     // grid-column-gap: 20px;
     grid-row-gap: 30px;
     position:sticky;
     .common, .rare, .epic, .legendary, .ultra{
          opacity: .6;
          font-size: 12px !important;
          // cursor: pointer;
     }
     .common{
          color: lightgreen;
     }
     .rare{
          color: cyan;
     }
     .epic{
          color: rgb(189, 59, 189);
     }
     .legendary{
          color: gold;
     }
     .ultra{
          color: grey;
     }
     img{
          cursor: pointer;
          transition-property: transform, padding;
          transition-duration: .5s;
          transition-timing-function: ease-in-out;
          transform: scale(1);
          padding: auto;
          &:hover{
               // transform: scale(1.08);
               padding: 10px;
          }
     }
}

.cards img.disabled{
     // transform: scale(1.08);
               pointer-events: none ;
               filter: grayscale(2) blur(.3em) ;
               opacity: .7 ;
               
}

img.clear{
     pointer-events: all;
               filter: grayscale(0) !important;
               opacity: 1 !important;
}

.nbCard{
     width: 60px;
     height: 60px;
     border-radius: 100%;
     background-color: purple;
     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute !important;
     margin-left: 15%;
     border: 5px solid rgb(85, 2, 85);
     z-index: 9;
     span{
          color: white;
          font-weight: 500;
          font-family: 'Poppins', sans-serif;
          font-size: 20px;
     }
}