@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Dela+Gothic+One&display=swap');

.coin{
     margin-right: 20px;
     margin-left: 10px;
}

.user-inventory{
     display: flex;
     align-items: center;
     font-family: 'Dela Gothic One' !important;
     padding-right: 10px;
     font-size: 20px;
}

.openChest{
     width: auto;
     margin-top: 40px;
     margin-bottom: 30px !important;
     
     img{
          background: #5e42a6;
        //   border-radius: 100%;
          transition-property: transform, padding;
          transition-duration: .4s;
          filter: none !important;
          transition-timing-function: ease-in-out;
          transform: scale(1);
          padding: auto;
          &:hover{
               cursor: pointer;
               transform: scale(1.2);
            //    padding: 15px;
          }
     }

}

.tuto{
     margin-top: 20px;
     margin-bottom: 40px;
     // background: #5e42a6;
    //  background: rgba($color: #5e42a6, $alpha: .3);
     padding-top: 20px;
     padding-bottom: 40px;
     margin-right: 40px;
     margin-left: 40px;
     padding-left: 0%;
    //  display: inline;
    //  text-align: center;
     width: auto;
}

.cards-carousel{
     padding-bottom: 30px;
     img{
          transition-property: transform, padding;
          transition-duration: .2s;
          transition-timing-function: ease-in-out;
          transform: scale(1);
          padding: auto;
          &:hover{
               cursor: not-allowed;
               transform: scale(1.1);
               padding: 10px;
          }
     }
     img:first-child{
          margin-right: 30px;
     }
     img:last-child{
          margin-left: 30px;
     }
}



.area{
     // background: #4e54c8;  
     // background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
     width: 100%;
     height:100vh;
     position: fixed;
     z-index: 0;
    
 }
 
 .circles{
     // z-index: -1000;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     overflow: hidden;
     z-index: 0 !important;
 }
 
 .circles li{
     position: absolute;
     display: block;
     list-style: none;
     width: 20px;
     height: 20px;
     background: rgba(255, 255, 255, 0.2);
     animation: animate 25s linear infinite;
     bottom: -150px;
     
 }
 
 .circles li:nth-child(1){
     left: 25%;
     width: 80px;
     height: 80px;
     animation-delay: 0s;
 }
 
 
 .circles li:nth-child(2){
     left: 10%;
     width: 20px;
     height: 20px;
     animation-delay: 2s;
     animation-duration: 12s;
 }
 
 .circles li:nth-child(3){
     left: 70%;
     width: 20px;
     height: 20px;
     animation-delay: 4s;
 }
 
 .circles li:nth-child(4){
     left: 40%;
     width: 60px;
     height: 60px;
     animation-delay: 0s;
     animation-duration: 18s;
 }
 
 .circles li:nth-child(5){
     left: 65%;
     width: 20px;
     height: 20px;
     animation-delay: 0s;
 }
 
 .circles li:nth-child(6){
     left: 75%;
     width: 110px;
     height: 110px;
     animation-delay: 3s;
 }
 
 .circles li:nth-child(7){
     left: 35%;
     width: 150px;
     height: 150px;
     animation-delay: 7s;
 }
 
 .circles li:nth-child(8){
     left: 50%;
     width: 25px;
     height: 25px;
     animation-delay: 15s;
     animation-duration: 45s;
 }
 
 .circles li:nth-child(9){
     left: 20%;
     width: 15px;
     height: 15px;
     animation-delay: 2s;
     animation-duration: 35s;
 }
 
 .circles li:nth-child(10){
     left: 85%;
     width: 150px;
     height: 150px;
     animation-delay: 0s;
     animation-duration: 11s;
 }
 
 
 
 @keyframes animate {
 
     0%{
         transform: translateY(0) rotate(0deg);
         opacity: 1;
         border-radius: 0;
     }
 
     100%{
         transform: translateY(-1000px) rotate(720deg);
         opacity: 0;
         border-radius: 50%;
     }
 
 }


 .course {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	width: 95%;
}

.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.course-preview {
	background-color: #2A265F;
	color: #fff;
	padding: 30px;
	max-width: 250px;
}

.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}

.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}

.progress {
	background-color: #ddd;
	border-radius: 3px;
	height: 5px;
	width: 100%;
}

.progress::after {
	border-radius: 3px;
	background-color: #2A265F;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 66%;
}

.progress-text {
	font-size: 10px;
	opacity: 0.6;
	letter-spacing: 1px;
}

.btn {
	background-color: #2A265F;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	// position: absolute;
	bottom: 30px;
	right: 30px;
    letter-spacing: 1px;
    margin-top: 30px !important;
}

.strong{
    font-weight: 600;
    color: black;
    opacity: 1 !important;
    font-size: 20px !important;
}

hr{
    color: rgba($color: darkgrey, $alpha: .8);
    line-height: 3px;
    opacity: .3;
    margin-top: 15px;
}

.background-chess{
    background: url('https://i.pinimg.com/originals/c8/18/d5/c818d51e890bebdf99c7dc86e4bc790c.gif') !important ;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(.1em);
    // background-attachment: fixed;
}

.background-open-chess{
    background: url('../assets/resources/openChest.gif') !important ;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(.1em);
    // background-attachment: fixed;
}

.chest-container{
    margin: 0 !important;
    background-color: #5e42a6 !important; 
}

.chest-overlay{
    background: url('https://img.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg?size=626&ext=jpg') no-repeat;
    background-size: contain !important;
    background-position: right !important;
    // padding-left: 100px;
    height: 100%;
}